body{
    height: 100vh;
    background: conic-gradient( violet ,indigo , blue , green , yellow , red , violet ,indigo , blue , green , yellow , red , violet ,indigo , blue , green , yellow , red , violet ,indigo , blue , green , yellow , red);

}