body{
    font-family: sans-serif , Arial;
    padding: 20px;
}

#productInput{
    padding: 8px;
    width: 250px;
}

button{
    padding: 8px 14px;
    margin-left: 6px;
    cursor: pointer;
    
}

ul{
    padding: 0px;
    margin-top: 20px;
}

li{
    list-style: none;
    padding: 10px;
    margin-bottom: 8px;
    background: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editing {
    background: #e4f7ff;
}