
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
}

header {
    background-color: #0c3969; 
    color: rgb(234, 233, 241);
    text-align: center;
    padding: 20px 0;
    font-size: 1.5em;
}

header h1 {
    margin: 0;
    font-weight: bold;
}

.subtitle-bar {
    background-color: #5797c5; 
    text-align: center;
    color: #ccc;
    padding: 5px 20px;
    font-size: 0.8em;
}

.subtitle-bar p {
    display: inline-block;
    animation: marqueeScroll 10s linear infinite;
}

@keyframes marqueeScroll {
    -200% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.container {
    display: flex;
    width: 1200px;
    height: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e0f8e0; 
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content {
    flex: 3; 
    padding-right: 20px;
}

.main-content h2 {
    color: #04080b;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}

.content-box {
    border: 1px solid #aaa;
    padding: 15px;
    background-color: white;
    margin-top: 15px;
}

.sidebar {
    flex: 1;
    border-left: 1px solid #370ec9;
    padding-left: 20px;
}

.sidebar h2 {
    color: #333;
    border-bottom: 1px solid #999; 
    padding-bottom: 5px;
}


.team-info {
    overflow: hidden;
    height: 100px;
    position: relative;
}

.team-info p {
    margin: 5px 0;
    font-size: 0.9em;
}

.team-info .scrolling {
    display: inline-block;
    animation: verticalScroll 15s linear infinite;
}

.team-info::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 20%; 
    z-index: 2;
    pointer-events: none;
}


@keyframes verticalScroll {
    0% {
        transform: translateY(200%);
    }
    100% {
        transform: translateY(-200%);
    }
}
.footer {
    background-color: #0c3969;
    color: #ece9f1;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}
