* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.team-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  padding: 40px;
  background-color: rgba(86, 53, 53, 0.082);
}

.team-card {
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(107, 183, 14, 0.1);
  width: 400px;
  text-align: center;
  background-color: rgb(68, 48, 48);
  transition: all 0.3s ease-in-out;
}

.team-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgb(230, 255, 43);
}

.team-card h2 {
  color: #fff;
  margin-top: 50px;
  margin-bottom: 15px;
}

.team-card img {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 70%;
  height: 190px;
  border-radius: 100%;
}

.team-card p {
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 15px;
  color: #ece2e2;
}

