
body {
    transition: 0.3s;
}

body.light {
    background: #ffffff;
    color: #000;
}

body.dark {
    background: #111;
    color: #ffffff;
}

body.blue {
    background: #007bff;
    color: white;
}

button {
    margin-right: 10px;
    padding: 8px 15px;
    cursor: pointer;
}
