






.container{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(3, 160px);
    font-family: Arial, sans-serif;
    gap: 20px; 
    padding: 50px;
}

.child {
  background-color: rgb(83, 204, 178);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 10px;
}