* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  width: 100%;
  background-color: blue;
  padding: 15px 0;
}


.navbar ul {
  display: flex;
  justify-content: flex-end;   
  align-items: center;
  gap: 40px;
  list-style: none;
  padding-right: 40px;         
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s ease;
}


.navbar a:hover {
  color: black;
}
