* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  display: flex;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap; 
}

.parent div {
  flex: 1 1 300px; 
  text-align: center;
  padding: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
}

.child1 {
  background-color: aqua;
  color: rgb(174, 40, 40);
}

.child2 {
  background-color: yellow;
  color: rgb(134, 33, 33);
}

.child3 {
  background-color: green;
  color: rgb(133, 29, 29);
}


section {
  text-align: center;
  margin-top: 20px;
}

section img {
  width: 90%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .parent {
    flex-direction: column;
    align-items: stretch;
    background-color: rgb(255, 0, 179);
  }
}
